<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/reservation.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>reservation</title>

</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">photography</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Gallerie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Reservation</a>
            </li>
               
          </ul>
        </div>  
      </nav>
      <%if (json.length > 0) {%> <%for(i in json) {%>
        <%}%> <%}%>
    
    <form id="fo" action="/reservation" method="POST" class="form" style="margin-top: 40px;">
    
        <div class="res"> <h2>Reservation </h2> </div>
        <div class="cont"> <p> <input type="text" placeholder="Entrer votre nom" name="id" value="<%=Number(json[i].id)+1%>" id="nom" style="display: none;"></p>  </div>
        <div class="cont"> <p> <input type="text" placeholder="Entrer votre nom" name="name" id="nom"></p>  </div>
        <div class="cont"> <p> <input type="text" placeholder="Entrer votre prénom" name="prenom" id="prenom"></p>  </div>
        <div class="cont"> <p> <input type="text" placeholder="Enter votre email" name="email" id="email"></p> </div>
        <div class="cont"> <p> <input type="tel" placeholder="Enter votre numéro de téléphne" name="telphone" id="telphone"></p> </div>
        <div class="cont"> <p> <input type="text" placeholder="version" name="version" id="version"></p> </div>
        <!-- <div> <p> <button id= "insc" onclick="valide()">submit</button> </p></div> -->
        <div ><button id='sub' onclick="valide()"> <a href="http://localhost:3030/submit"></a>submit</button></div>
    </form> 


    <div class="container" style="margin-top: 640px;
                                  position: relative;">
                    
        <table class="table table-striped">
          <thead>
            <tr>
              <th>nom</th>
              <th>prénom</th>
              <th>Email</th>
              <th>téléphne</th>
              <th>version</th>
            </tr>
          </thead>
          <tbody id="heroesBody"></tbody>
        </table>
        <%if (json.length > 0) {%> <%for(i in json) {%>
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%=json[i].name%></th>
              <th><%=json[i].prenom%></th>
              <th><%=json[i].email%></th>
              <th><%=json[i].telphone%></th>
              <th><%=json[i].version%></th>
              <th>
                <button id="mdf-btn" data-toggle="modal" data-target="#myModal" id="rvn" onclick="get(this)" name="<%= json[i].id %>" > Modifier</button>
                <button class="buton" id="dlt-btn">
                <a href="/delete/<%=json[i].id%>" >Supprimer</a>
                </button>
              </th>
            </tr>
          </thead>
          
          <tbody id="heroesBody"></tbody>
        </table>
        
        <%}%> <%}%>
   </div>
   <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title">Edit product</h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
                           <form action="/up" method="post">
         <div class="form-group">
         	<input type="hidden" id="vv" name="id" value="" >
                                <label for="exampleInputPassword1">Nom</label>
                                <input class="form-control"  class="form-control is-valid"name="name" required="on">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">Prenom</label>
                                <input class="form-control" class="form-control is-valid" name="prenom" id="title" required="on">
                            </div>
                
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input class="form-control" class="form-control is-valid" name="email" id="author" required="on">
                            </div>

                            <div class="form-group">
                              <label for="exampleInputPassword1">Téléphone</label>
                              <input class="form-control" class="form-control is-valid" name="telphone" id="author" required="on">
                          </div>

                          <div class="form-group">
                            <label for="exampleInputPassword1">Version</label>
                            <input class="form-control" class="form-control is-valid" name="version" id="author" required="on">
                        </div>
                
                             <button type="submit" class="btn btn-danger">Modifier</button>
        </div>
               </form>
     
        
      </div>
    </div>
  </div>

   <script>
    var cc = document.getElementById("vv");
    function get(ev) {
      let bn = ev.name;
      cc.value = bn;
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    
    <!-- validation javascript -->

    <script type="text/javascript">
    function valide(){
        var nom=document.getElementById("nom").value;
        var prenom =document.getElementById("prenom").value;
        var email =document.getElementById("email").value;
        var telphone =document.getElementById("telphone").value;
        var version=document.getElementById("version").value;

        var regexnom= /^[a-zA-Z]{3,16}$/;
        var regexprenom= /^[a-zA-Z]{3,16}$/;
        var regexemail= /^[a-zA-Z0-9.-]+@[a-z0-9.-]{2,6}.[a-z]{2,4}$/;
        var regextelphone = /^[0-9]{10}$/;
        var regexversion = /^[0-9]+[A-Z]{1,4}$/;
       
        if( nom=="" || prenom =="" ||  email=="" ||  telphone=="" || version=="") {
            window.alert("tous les champs doivent etre remplis");
        }
        else if(!regexmail.test(email) || !regextelphone.test(telphone)  || !regexversion.test(version) || !regexname.test(nom) || !regexprenom.test(prenom) ){
    
                window.alert("respecte les format")
            }

            else{
                  window.alert(" nom:"+nom  +" prenom:"+prenom  + "email:"+email  +   "telphone:"+telphone  + "version:"+version);
            }
        }
    </script>
     







    
   


  
</body>
</html>
